/*
 * Empty Stylesheet file.
 */
*{
    -fx-base: #dce7f9;
    -fx-light-yellow-color : LIGHTGOLDENRODYELLOW; /* LIGHTYELLOW */
    -fx-light-blue-color: #e1ebf9;
    -fx-dark-blue-color: #293955;
    -fx-medium-blue-color: #b6c1d2;
    -fx-royal-blue-color: #3c71b3;
}

/* PROFILERS TAB */ 

.tab-pane#profilers .tab {  
    -fx-background-radius : 0;
}

.tab-pane#profilers .tab:selected  {
    -fx-background-radius : 0;
}

/* CONNECTION TABS */ 

#connectionTabpane .tab, 
#connectionTabpane .tab .tab-label {
    -fx-background-radius : 0 0 8 0;
    -fx-padding : 3;
}

#connectionTabpane .tab:selected,
#connectionTabpane .tab:selected .tab-label {
    -fx-background-radius : 25 0 8 0;
}

#connectionTabpane .tab-header-background {
    -fx-opacity: 1.0;
    -fx-background-color :  -fx-light-blue-color;
}


#connectionTabpane > .tab-header-area > .headers-region > .tab {
    -fx-border-color: -fx-light-blue-color;
    -fx-border-width: 0 1 0 1;
}

#connectionTabpane .tab-content-area{
    -fx-padding : 1 0 0 0;
}
