/*
 * Empty Stylesheet file.
 */

/**
Created Variable
**/
*{
    -fx-base: #dce7f9;
    -fx-light-yellow-color : #fcfcf9;
    -fx-light-blue-color: #e1ebf9;
    -fx-dark-blue-color: #293955;
    -fx-medium-blue-color: #b6c1d2;
    -fx-royal-blue-color: #3c71b3;
}


.mainPane{

}

.tab-header-area .tab:selected{
    -fx-base:#fce29c;
}

.tab-header-area .tab-header-background{
    -fx-background-color:#293955;
}
.tab-header-area .tab{
    -fx-background-radius:0px;
}

.tab .tab-label {
    -fx-text-fill: white;
}

.bordered-titled-title {
    -fx-translate-x:  8;
    -fx-translate-y: -10;
    -fx-padding: 0 0 0 4;
    -fx-background-color: -fx-background;
}

.bordered-titled-border {
    -fx-content-display: top;
    -fx-border-insets: 2 0 0 0;
    -fx-border-color: -fx-text-box-border;
    -fx-border-width: 1;
    -fx-border-radius:5px;
}

.bordered-titled-content {
    -fx-padding: 18 5 5 5;
}