/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 22, 2015, 11:18:44 AM
    Author     : Rajya Laxmi Maharjan &lt;
*/

.keyword {
    -fx-fill: black;
    -fx-font-weight: bold;
}
.user-keyword{
    -fx-fill: black;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.highlightExistParen {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
    -fx-background-fill: yellow;
}
.highlightNonExistParen {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
    -fx-background-fill: #ff6f6f;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: red;
}

.string2 {
    -fx-fill: black;
}

.comment {
    -fx-fill: cadetblue;
}

.function {
    -fx-fill: #ef3ddd;
    -fx-font-weight: bold;
}

.greendata {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.maroondata {
    -fx-fill: maroon;
    -fx-font-weight: bold;
}

.operator {
    -fx-fill: darkgray;
}
