

.tab#mainNew {
    -fx-background-color: transparent;
}

.tab#mainNew .tab-label { 
    -fx-content-display :graphic-only;
    -fx-graphic : url("../np/com/ngopal/smart/sql/debuganalyzer/ui/images/news_tab.png");
}