/*
 * Empty Stylesheet file.
 */
*{
    -fx-base: #dce7f9;
    -fx-light-yellow-color : LIGHTGOLDENRODYELLOW; /* LIGHTYELLOW */
    -fx-light-blue-color: #e1ebf9;
    -fx-dark-blue-color: #293955;
    -fx-medium-blue-color: #b6c1d2;
    -fx-royal-blue-color: #3c71b3;
}

/* PROFILERS TAB */ 

.tab-pane#profilers .tab {  
    -fx-background-radius : 0;
}

.tab-pane#profilers .tab:selected  {
    -fx-background-radius : 0;
}

/* CONNECTION TABS */ 

#connectionTabpane .tab, 
#connectionTabpane .tab .tab-label {
    -fx-background-radius : 0 0 8 0;
    -fx-padding : 3;
}

#connectionTabpane .tab:selected,
#connectionTabpane .tab:selected .tab-label {
    -fx-background-radius : 25 0 8 0;
}

#connectionTabpane .tab-header-background {
    -fx-opacity: 1.0;
    -fx-background-color :  -fx-light-blue-color;
}


#connectionTabpane > .tab-header-area > .headers-region > .tab {
    -fx-border-color: -fx-light-blue-color;
    -fx-border-width: 0 1 0 1;
}

#connectionTabpane .tab-content-area{
    -fx-padding : 1 0 0 0;
}


.top-toolbar-toggle {
    -fx-max-height : 18px;
    -fx-background-color: transparent;
    -fx-border-width : 0;
    -fx-font-weight: bold;
}

.top-toolbar-toggle:hover {
    -fx-background-color: white;
}

.top-toolbar-toggle:selected {
    -fx-background-color: -fx-light-blue-color;
}

.table-view .column-header{
    -fx-padding: 1;
}   

.table-view .column-header .label{
    -fx-font-size: 12px;
    -fx-alignment: center-left;
}

.table-view .column-header#checkbox .label{
    -fx-font-size: 10px;
    -fx-alignment: center;
}


.table-cell .combo-box-base,
.table-cell .combo-box-base:focused
{
    -fx-border-insets: 0;
    -fx-border-color: #b8bdc6;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


/* Tree View */
.tree-view:focused{
    -fx-background-color: white;
}
.tree-view .cell{
    -fx-background-color: white;
}
.tree-view .cell:selected{
    -fx-background-radius:12 0 12 0;
}
.tree-view .cell:focused {
    -fx-background-color:-fx-royal-blue-color;
    -fx-text-fill:white;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url("/np/com/ngopal/smart/sql/ui/images/connection/node_collapsed.png");
    -fx-padding: 4 5 5 4;
}
.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url("/np/com/ngopal/smart/sql/ui/images/connection/node_expanded.png");
    -fx-padding: 4 5 5 4;
}

.tree-view .scroll-bar,.tree-view .scroll-bar .track-background,.tree-view .corner{
    -fx-background-color : white;
}

.scroll-bar .track{
    -fx-background-color: white;
}
.scroll-bar .thumb{
    -fx-background-color:derive(-fx-light-blue-color,-20%);
    -fx-padding:1px;
}
.scroll-bar .thumb:hover{
    -fx-background-color:-fx-dark-blue-color;
}

.sshArea{
    -fx-font-family: Consolas;
    -fx-highlight-fill: white;
    -fx-highlight-text-fill: black;
    -fx-text-fill: white;
    -fx-background-color: black;
}

.sshArea .scroll-pane .content{
    -fx-background-color: black;
}


.clearableTextField {
    -fx-padding: 0 20 0 4;

}

.TextField {
    -fx-focus-color: -fx-dark-blue-color;
    -fx-text-box-border: -fx-light-blue-color;
    -fx-faint-focus-color:transparent;
    -fx-highlight-fill: -fx-dark-blue-color;
}

.PasswordField {
    -fx-focus-color: -fx-dark-blue-color;
    -fx-text-box-border: -fx-light-blue-color;
    -fx-faint-focus-color:transparent;
}

.split-pane .split-pane-divider {
    -fx-background-color: -fx-royal-blue-color;
    -fx-padding: 0 0.5 0 0.5;
}

.toolbar-button:hover {
    -fx-border-color: #293955;
    -fx-background-color: #cfddf3;
}

.toolbar-button{
    -fx-border-color: transparent;
    -fx-background: transparent;
    -fx-background-color: transparent;
}

/* file helper left pane */

.file-helper-button:hover {
    -fx-background-color: -fx-light-blue-color;
    -fx-border-color : white;
}


.column-header#querybuildercolumn {
    -fx-background-color: -fx-light-blue-color;
}

.column-header#querybuildercolumn .label {
    -fx-text-fill: -fx-dark-blue-color;
}

.table-row-cell:empty{
    -fx-background-color: white ;
    -fx-border-color : white;
}

/* hyperlink in table */
.table-row-cell:selected .table-cell .hyperlink {
    -fx-text-fill: white ;
}

/*.progress-bar > .track {
  -fx-text-box-border: forestgreen;
  -fx-control-inner-background: palegreen;
}*/

#threadsProgressBar-green > .bar {
    -fx-background-color: green;
    -fx-background-insets: 2;
    -fx-background-radius: 0;    
}

#threadsProgressBar-green > .track {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: green;
}

#threadsProgressBar-blue > .bar {
    -fx-background-color: blue;
    -fx-background-insets: 2;
    -fx-background-radius: 0;    
}

#threadsProgressBar-blue > .track {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: blue;
}

#threadsProgressBar-red  > .bar {
    -fx-background-color: red;
    -fx-background-insets: 2;
    -fx-background-radius: 0;
}

#threadsProgressBar-red  > .track {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: red;
}

.profilerPopup {
    -fx-background-color: #dfe8f7;
    -fx-border-color: #bbc4d3, #eef2f9;
    -fx-border-insets: 0, 1;
    -fx-padding: 5;
}

#filteredField {
    -fx-border-radius: 7;
    -fx-background-radius: 7;

    -fx-background-image: url("/np/com/ngopal/smart/sql/ui/images/filter_small.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 180 center;

    -fx-min-width: 100;
    -fx-pref-width: 100;
    -fx-max-width: 100;

    -fx-padding: 2;
}

.chart-title {
    -fx-font-weight: bold;

}

#tollbarlabel:hover {
    -fx-border-color: transparent;
    -fx-background-color: -fx-light-yellow-color;
}

#tollbarlabel {
    -fx-text-fill : black;
    -fx-padding: 2;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#tollbar-menu-button {
    -fx-border-color: transparent;
    -fx-border-radius: 0;

    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: -3;
}

#tollbar-menu-button:hover {
    -fx-border-color: transparent;
    -fx-background-color: -fx-light-yellow-color;
}

.context-menu{
    -fx-background-color: -fx-light-blue-color;
    -fx-background-radius: 5;
}

.menu-item:hover {
    -fx-background-radius: 5;
    -fx-background-color: white;
}

.menu-item:hover .label,
.menu-item:hover .check-box{
    -fx-text-fill: -fx-royal-blue-color;
}
.menu-item .label,
.menu-item .check-box {
    -fx-text-fill: -fx-dark-blue-color;
}
.tooltip{
    -fx-wrap-text: true;
    -fx-background-color:-fx-light-blue-color;
    -fx-text-fill: -fx-dark-blue-color;
    -fx-graphic: url("/np/com/ngopal/smart/sql/ui/images/comment.png");
    -fx-graphic-text-gap: 6;    
    -fx-font-size: 12;
    -fx-font-weight : normal;
}

.combo-box-popup {
    -fx-background-color:-fx-light-blue-color;
    -fx-background-radius: 3;
}

.combo-box-popup .list-view{
    -fx-background-color:-fx-light-blue-color;
}

.titled-pane .title{
    -fx-pref-height : 30;
    -fx-text-fill: -fx-dark-blue-color;
}

.builderview {
    -fx-border-color : -fx-royal-blue-color;
    -fx-border-width : 0.4;
    -fx-padding : 3;
}

.builderview .title {
    -fx-background-color : white ;
    -fx-padding: 1,0,1,0;
    -fx-border-color : transparent transparent -fx-royal-blue-color transparent;
}

.builderview .title .label {
    -fx-text-fill : -fx-royal-blue-color;
}

.titled-pane#schema-right-pane .title{
    -fx-background-color : lightgray ;
    -fx-border-color : lightgray lightgray white white ;
}

.query-checkbox .box {
    -fx-background-color : white ;
    -fx-border-color: white -fx-dark-blue-color white white;
    -fx-pref-width : 15;
    -fx-pref-height : 15;
}

.query-checkbox .mark {
    -fx-background-color : -fx-dark-blue-color ;
    -fx-opacity : 0.0;
    -fx-padding: 5.0;
}

.query-checkbox:selected .mark {
    -fx-opacity : 1.0;
}

.scroll-pane#schemaScrollContainer > * {
    -fx-background-color : white;
}
/* AREA CHART STYLES */

.default-color0.chart-series-area-fill {
    -fx-opacity : 0.2;
}


.default-color1.chart-series-area-fill {
    -fx-opacity : 0.23;
}


.default-color2.chart-series-area-fill {
    -fx-opacity : 0.26;
}


.default-color3.chart-series-area-fill { 
    -fx-opacity : 0.29;
}


.default-color4.chart-series-area-fill { 
    -fx-opacity : 0.32;
}


.default-color5.chart-series-area-fill { 
    -fx-opacity : 0.35;
}


.default-color6.chart-series-area-fill { 
    -fx-opacity : 0.38;
}

.default-color7.chart-series-area-fill { 
    -fx-opacity : 0.41;
}

.default-color8.chart-series-area-fill { 
    -fx-opacity : 0.44;
}

.default-color9.chart-series-area-fill { 
    -fx-opacity : 0.47;
}

.default-color10.chart-series-area-fill {
    -fx-opacity : 0.5;
}

.default-color11.chart-series-area-fill { 
    -fx-opacity : 0.53;
}

.default-color12.chart-series-area-fill {
    -fx-opacity : 0.56;
}

.default-color13.chart-series-area-fill { 
    -fx-opacity : 0.59;
}

.default-color14.chart-series-area-fill { 
    -fx-opacity : 0.62;
}

.default-color15.chart-series-area-fill { 
    -fx-opacity : 0.65;
}

.default-color16.chart-series-area-fill { 
    -fx-opacity : 0.68;
}

.default-color17.chart-series-area-fill { 
    -fx-opacity : 0.71;
}

.default-color18.chart-series-area-fill { 
    -fx-opacity : 0.74;
}

.default-color19.chart-series-area-fill { 
    -fx-opacity : 0.77;
}

.default-color20.chart-series-area-fill { 
    -fx-opacity : 0.8;
}

.default-color21.chart-series-area-fill { 
    -fx-opacity : 0.83;
}

.default-color22.chart-series-area-fill { 
    -fx-opacity : 0.86;
}

/* LINE CHART */

.chart-series-line {    
    -fx-stroke-width: 1.5px;
    -fx-effect: null;
}

/* general chart styles */

.chart {
    -fx-background-color: white;
}

.chart-content {
    -fx-background-color: white;
}

.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: #444343;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: none;
    -fx-stroke-dash-offset: 0;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #444343;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: none;
    -fx-stroke-dash-offset: 0;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis {    
    -fx-tick-label-fill: -fx-dark-blue-color;
    -fx-font-family: Tahoma;
    -fx-minor-tick-length: 0;
}

.axis-label {
    -fx-text-fill: -fx-dark-blue-color;
}

/* /////////////Pie Chart start ////////////////// */
.chart#mypie .chart-title {
    -fx-background-color: -fx-light-blue-color;
    -fx-font-weight : bold ;
    -fx-text-fill: -fx-royal-blue-color;
}
.chart#mypie {
    -fx-legend-visible: false;
}
.chart#mypie:hover {
    -fx-legend-visible: true;
}
.chart-pie-label-line {
    -fx-stroke: -fx-light-yellow-color;
    -fx-fill: #8b4513;
}

.chart-pie-label {
    -fx-fill: -fx-royal-blue-color;
    -fx-font-size: 1em;
} 

.chart#mypie .chart-legend {
    -fx-background-color: -fx-light-blue-color;
    -fx-stroke: transparent;
    -fx-background-radius: 0 0 10 10;
}

/* /////////end /////////////// */
.chart-legend {
    -fx-background-color: transparent;
    -fx-stroke: transparent;
}

.chart-legend-item{
    -fx-text-fill: -fx-royal-blue-color;
}

.tool-bar-label-menu-item {
    -fx-text-fill: -fx-royal-blue-color;
    -fx-font-weight : bold ;
    -fx-font-size: 13px;
}


.designer-graph .viewport{
    -fx-background-image: url("/np/com/ngopal/smart/sql/ui/images/designer/background.png");
}

.designer-button {
    -fx-border-color: null;
    -fx-background-color: null;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}
.designer-button-hover {
    -fx-border-color: #3399ff;
    -fx-background-color: #99ccff;
}

.designer-button-selected {
    -fx-border-color: #3399ff;
}

.designer-component-header {
    -fx-border-color: gray;
    /*    -fx-border-radius: 10 10 10 10;
        -fx-background-radius: 10 10 10 10;*/

    -fx-spacing: 5;
    -fx-padding: 5 5 2 5;
}

.designer-component-header-expanded {
    -fx-border-color: gray;
    /*    -fx-border-radius: 10 10 0 0;
        -fx-background-radius: 10 10 0 0;*/

    -fx-background-color: #d9d9d9;

    -fx-spacing: 5;
    -fx-padding: 5 5 2 5;
}

.designer-component-header-label {
    -fx-content-display: left;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.designer-component-content {
    -fx-border-color: gray;
    -fx-border-width: 0 1 0 1;
    -fx-background-color: white;

    -fx-padding: 0;
}

.designer-component-footer {

    -fx-pref-height: 8;
    -fx-max-height: 8;
    -fx-min-height: 8;

    -fx-border-width: 0 1 1 1;
    -fx-border-color: gray;
    /*    -fx-border-radius: 0 0 10 10;
        -fx-background-radius: 0 0 10 10;*/

    -fx-padding: 5;
}

.designer-component-more-label {
    -fx-alignment: center;
    -fx-text-fill: #808080;
    -fx-font-size: 9;

}

.designer-component-indexes-header-label {
    -fx-background-color: gray;
    -fx-padding: 5;
}
.designer-component-indexes-header-label > .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;    
}

.designer-component-container {
    -fx-padding: 5;
    -fx-spacing: 2;
}

.beauty-button {
    -fx-background-color : -fx-royal-blue-color;
    -fx-background-radius : 8;
    -fx-text-fill : white;
    -fx-padding : 0.5;
}

.beauty-button:hover {
    -fx-background-color : -fx-light-blue-color;
    -fx-text-fill : -fx-dark-blue-color;
}

.beauty-button:armed {
    -fx-background-color : transparent;
    -fx-text-fill : black;
}

.beauty-button:selected {
    -fx-background-color : white;
    -fx-background-radius : 8;
    -fx-text-fill : -fx-royal-blue-color;
}

.settings-toggle {
    -fx-background-radius : 18;
}

.settings-toggle:selected {
    -fx-background-color : -fx-royal-blue-color;
    -fx-text-fill : white;
    -fx-background-radius : 18;
}

.table-template-combo-box {
    -fx-background-color : transparent;
    -fx-border-color : -fx-royal-blue-color -fx-royal-blue-color -fx-royal-blue-color transparent;
}

.table-template-combo-box .list-cell {
    -fx-text-fill : white; 
    -fx-background-color : -fx-royal-blue-color;
    -fx-background-radius : 0;
}

.table-template-combo-box:disabled .list-cell {
    -fx-opacity: 1;
}



.table-template-combo-box .combo-box-popup .list-cell {
    -fx-text-fill : black; 
    -fx-background-color : transparent;
    -fx-background-radius : 0;
}

.button#inforefreshbutton{
    -fx-text-fill:  -fx-dark-blue-color;
    -fx-background-color : -fx-light-blue-color;
    -fx-border-color : white; 
    -fx-border-radius : 3;
}

.button#inforefreshbutton:hover{
    -fx-text-fill:  -fx-dark-blue-color;
    -fx-background-color : white;
    -fx-border-radius : 3;
}

.designer-layer {
    -fx-border-color: #d9d9d9;
    -fx-border-width: 2;
}

.designer-layer-header-expanded {
    -fx-border-color: #d9d9d9;    
    -fx-background-color: #d9d9d9;

    -fx-spacing: 5;
    -fx-padding: 5 5 2 5;
}

.designer-text {
    -fx-border-color: #b2b2ae;
    -fx-padding: 2;
}

.designer-image {

}

.designer-view {
    -fx-content-display: left;
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-border-color: #b2b2ae;
}

.payment-button {
    -fx-background-color: tomato;
}

.payment-button:hover {
    -fx-background-color: -fx-light-blue-color;
}

.next-button {
    -fx-background-color: -fx-royal-blue-color;
}

.next-button:hover {
    -fx-background-color: white;
    -fx-border-color: -fx-royal-blue-color;
    -fx-text-fill: -fx-royal-blue-color;
}


.exit-button {
    -fx-background-color: tomato;
}

.exit-button:hover {
    -fx-background-color: white;
    -fx-border-color: tomato;
    -fx-text-fill: red;
}


#disabledHistoryPoint .text {
    -fx-strikethrough: true;
    -fx-fill: gray;
}

.text-field#transparent-background-field {
    -fx-border-color :  transparent transparent black transparent;
    -fx-focus-color :  transparent;
    -fx-focus-faint-color :  transparent;
    -fx-background-color : transparent;
}


.text-field#transparent-background-field:focused {
    -fx-border-color : transparent transparent black black;
}

.table-view {
    -fx-table-cell-border-color: #a4acb8;

    -fx-selection-bar: #b4ccee; 
    -fx-selection-bar-non-focused: #b4ccee;    
}

.table-view .column-header .label {
    -fx-padding: 0;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected {
    -fx-background-color: black, -fx-selection-bar;
    -fx-background-insets: 0, 1;
    -fx-table-cell-border-color: black;
}

.table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected{
    -fx-background-color: black, -fx-selection-bar;
    -fx-background-insets: 0, 1;
    -fx-table-cell-border-color: black;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #e1e1e1;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:empty{
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:empty {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-view .check-box .box {
    -fx-background-color : white ;
    -fx-border-color: black, gray;
    -fx-border-width: 1, 1;
    -fx-border-insets: 0, 1;
    -fx-border-radius : 0;
    -fx-pref-width : 15;
    -fx-pref-height : 15;
}


.combo-box-base#enumTableCombobox
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.combo-box-base#enumTableCombobox:disabled
{
    -fx-opacity: 1.0;
}
.combo-box#enumTableCombobox:disabled .list-cell
{
    -fx-opacity: 1.0;
}


#setTableCombobox:disabled .combo-box-base
{
    -fx-opacity: 1.0;   
}
#setTableCombobox:disabled .combo-box .list-cell
{
    -fx-opacity: 1.0;
}

#setTableCombobox .combo-box-base
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.table-cell:last-visible{
}


.paginatorButtonHBox {
    -fx-spacing: 2;
    -fx-padding: 3 2 4 5;
    -fx-alignment: center-left;
}

.messageScroll > .viewport {
    -fx-background-color: white;
}

.infoScroll > .viewport {
    -fx-background-color: white;
}


#toolbar-button {
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);

    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#tableEditorCombobox .input-text {
    -fx-font-size: 5px;
    -fx-background-color: red;
}

#tableEditorCombobox {
    -fx-font-size: 5px;
    -fx-background-color: red;
}


.DateTimePicker-popup > .timePicker {
    -fx-padding: 5 5 0 5;
}

.DateTimePicker-popup > .buttons {
    -fx-alignment: center;
    -fx-spacing: 5;
    -fx-padding: 3;
}

.tab-toggle-button {
    -fx-background-color :whitesmoke;
    -fx-border-width : 0px;
    -fx-min-width : 150;
}

.tab-toggle-button:selected {
    -fx-background-color : -fx-royal-blue-color;
    -fx-text-fill : white;
    -fx-font-weight : bold;     
}

.user-manager .split-pane {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 1 1 0 1, 1;
}

.user-manager .table-view#usersTableview {
    -fx-background-insets: 1 0 1 0, 1;
    -fx-border-color : transparent -fx-dark-blue-color transparent -fx-dark-blue-color;
}

.user-manager .table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
}
/*
.user-manager .table-cell,    
.user-manager .list-cell,
.user-manager .check-box,
.user-manager  .button {    
    -fx-font-weight : normal;
}

.user-manager .check-box:selected,
.user-manager  .button:hover {    
    -fx-font-weight : bold;
}*/


.user-manager .split-pane-divider {
    -fx-opacity : 1.0;
    -fx-background-color : white;
}

.user-manager-combo-box {
    -fx-background-color : white;
}

.user-manager-combo-box .list-cell {
    -fx-text-fill : -fx-royal-blue-color;
    /*-fx-font-weight : bold;*/
}

.user-manager-combo-box .combo-box-popup .list-cell {
    -fx-font-weight : normal;
    -fx-background-color: white;
}

.user-manager-combo-box .combo-box-popup .list-cell:hover {
    -fx-font-weight : bold;
    -fx-text-fill : black;     
    -fx-border-color : transparent transparent transparent green;
    -fx-border-width : 2px;
}

.user-manager-combo-box .combo-box-popup .list-cell:selected {
    -fx-font-weight : bold;
    -fx-border-color : transparent transparent transparent -fx-royal-blue-color;
    -fx-border-width : 2px;
    -fx-text-fill : -fx-dark-blue-color; 
}
/*
.user-manager .label {
    -fx-font-weight : normal;
    -fx-text-fill : -fx-dark-blue-color; 
}*/

.user-manager-checkbox {
    -fx-font-size : 9px;
}

.user-manager * {
    -fx-font-weight : bold;
    -fx-text-fill : -fx-dark-blue-color; 
}

.user-manager .combo-box {
    -fx-border-color : silver;
}

.user-manager .button {
    -fx-padding: 2.4 4 2.4 4;
}

.user-manager .split-pane {
    -fx-border-color : transparent transparent -fx-dark-blue-color transparent;
}

.selectableTextArea {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}


.selectableTextArea:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.selectableTextArea:focused {
    -fx-highlight-fill: #7ecfff;
}

.selectableTextArea .content {
    -fx-padding: 3px;
    -fx-highlight-fill: #7ecfff;
    -fx-font-family: 'Arial';
    -fx-background-color: transparent, white, transparent, white;
}


.selectableTextArea-error .text {
    -fx-font-size: 12px;
    -fx-fill: red;
}

.selectableTextArea .text {
    -fx-font-size: 12px;
    -fx-fill: green;
}

.privs-ScrollPane .viewport {
    -fx-background-color: white;
}

.busyPane {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.syncResultTitleHeaderLabel {
    -fx-background-color: white;
}

.syncResultTitleHeaderLabel:hover {
    -fx-background-color: #c9def5;
}

.syncResultTitleHeaderLabel:pressed {
    -fx-background-color: #007acc;
}

.diffRow-typeLabel {
    -fx-pref-width: 100;
    -fx-min-width: 100;
    -fx-max-width: 100;

    -fx-padding: 0 3 0 3;
    -fx-border-color:  #cccedb;
    -fx-border-width:  1 1 0 1;
}

.diffRow-sourceLabel {    

    -fx-padding: 0 3 0 3;
    -fx-border-color:  #cccedb;
    -fx-border-width:  1 0 0 0;
}

.diffRow-targetLabel {    

    -fx-padding: 0 3 0 3;
    -fx-border-color:  #cccedb;
    -fx-border-width:  1 1 0 1;
}

.diffRow-selectHBox {
    -fx-border-color:  #cccedb;
    -fx-border-width:  1 1 0 1;
}

.diffRow-operationHBox {    
    -fx-border-color:  #cccedb;
    -fx-border-width:  1 0 0 0;
}

.diffRow-combobox {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.diffRow-typeLabel-last {
    -fx-pref-width: 100;
    -fx-min-width: 100;
    -fx-max-width: 100;

    -fx-padding: 0 3 0 3;
    -fx-border-color:  #cccedb;
    -fx-border-width:  1 1 1 1;
}

.diffRow-sourceLabel-last {

    -fx-padding: 0 3 0 3;
    -fx-border-color:  #cccedb;
    -fx-border-width:  1 0 1 0;
}

.diffRow-targetLabel-last {

    -fx-padding: 0 3 0 3;
    -fx-border-color:  #cccedb;
    -fx-border-width:  1 1 1 1;
}

.diffRow-selectHBox-last {
    -fx-border-color:  #cccedb;
    -fx-border-width:  1 1 1 1;
}

.diffRow-operationHBox-last {    
    -fx-border-color:  #cccedb;
    -fx-border-width:  1 0 1 0;
}

.diffRow-selected {
    -fx-background-color: #c9def5;
}

#filteredTable .column-header,
#filteredTable .column-header .filler,
#filteredTable .column-header-background .filler {
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-padding: 0.166667em;
}

#rqcombobox .list-cell 
{
    -fx-padding: 3 3 3 6;
    -fx-cell-size: 1.66667em; 
}

.highlightButton {
    -fx-background-color: #a9b1bf, orange;
    -fx-background-insets: 0, 1;
}

.default-color0.chart-bar { 
    -fx-bar-fill: green; 
}

.default-color2.chart-bar { 
    -fx-bar-fill: red; 
}

.message-text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.message-text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.message-text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.message-text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.message-text-area .content {
    -fx-padding: 5px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

/* Black Theme */

.black-theme-class,
.black-theme-class .viewport,
.black-theme-class .chart-title,
.black-theme-class .axis, 
.black-theme-class .chart-legend,
.black-theme-class .tab-pane .tab .tab-label{
    -fx-background-color : #141414;
    -fx-text-fill : white;
    -fx-tick-label-fill : white;
}

.black-theme-class .titled-pane > .title {
    -fx-background-color : #141414;
    -fx-text-fill : white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-tick-label-fill : white;
}

.black-theme-class .titled-pane:collapsed > .title {
    -fx-background-color: #222020;
}

.black-theme-class .scroll-bar .thumb:hover {
    -fx-background-color : white;
}

.black-theme-class .increment-button,
.black-theme-class .decrement-button,
.black-theme-class .lighter *  .filler{
    -fx-opacity : 0.0;
}

/*.lighter {
    -fx-border-width : 0.1;
    -fx-border-color : gray;
}*/

.black-theme-class .lighter,
.black-theme-class .lighter .chart,
.black-theme-class .lighter .chart-title,
.black-theme-class .lighter .chart-content,
.black-theme-class .lighter .axis,
.black-theme-class .lighter .check-box,
.black-theme-class .lighter .chart-legend,
#black-theme-class-area .content{
    -fx-background-color : #222020;
    -fx-text-fill : white;
    -fx-tick-label-fill : white;
    -fx-pie-label-visible : false;
    -fx-minor-tick-visible : false;
    -fx-tick-mark-visible : false;   
    -fx-tick-label-gap : 5;
}

.black-theme-class .label {
    -fx-text-fill : white;
    -fx-background-color : transparent;
}

.black-theme-class .scroll-bar,
.black-theme-class .scroll-bar .track,
.black-theme-class .lighter .check-box > .box {
    -fx-background-color : transparent;
}

.black-theme-class .lighter .check-box > .box {
    -fx-border-width : 1.0;
    -fx-border-color : white;
}

.black-theme-class .lighter .check-box > .mark {
    -fx-background-color : white;
}

.lighter .table-view .filler {
    -fx-opacity : 0.0;
    -fx-background-color : transparent;
}

.lighter .table-view ,
.lighter .table-view .table-row-cell,
.lighter .table-view .table-column {
    -fx-background-color : transparent;
    -fx-border-color : transparent;
    -fx-text-fill : white;
    -fx-font-weight: normal;
    /*-fx-table-header-background-color: green; */
}

.lighter .table-view .column-header {
    -fx-background-color : #292828;
    -fx-border-color : transparent;
    -fx-font-weight : bold;
}

.lighter .debugger .table-view .column-header-background {
    -fx-background-color : -fx-light-blue-color;
    -fx-border-color : -fx-light-blue-color;
}

.lighter .debugger .table-view .filler {
    -fx-opacity : 1.0;
    -fx-background-color : -fx-light-blue-color;
}

.lighter .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected{
    -fx-text-fill : black;
    -fx-border-color: white;
    -fx-background-color : transparent;
}

.lighter .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.0em; /* 0 */  
}

.lighter .table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled .table-cell:focused:selected {
    -fx-border-color : darkgray;
    -fx-background-color : transparent;
    -fx-text-fill : white;
}

.debugger .table-cell {
    -fx-padding : 0 0 0 10; 
    -fx-font-size: 14;
}

.debugger .table-cell-hbox {
    -fx-padding : 0;
}

.debugger .table-row-cell {
    -fx-cell-size: 22px;
}

.debugger .label {
    -fx-text-fill : -fx-dark-blue-color ;
}

.lighter .debugger .chart-legend-item {
    -fx-font-size : 12;
    -fx-font-weight : normal;
    -fx-text-fill : -fx-royal-blue-color ;
}

.lighter .table-view > .virtual-flow > .scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: -4;
}

.lighter .table-view > .virtual-flow > .scroll-bar .thumb {
    -fx-background-color: white;
    -fx-background-insets : 4 0 4 0;
}

.lighter .table-view > .virtual-flow > .scroll-bar .thumb:hover {
    -fx-background-color: -fx-light-blue-color;
}

.lighter .table-view .column-header-background,
.lighter .table-view .column-header .label {
    -fx-text-fill : -fx-royal-blue-color;
    -fx-background-color: transparent;
    -fx-font-weight : bold;
}

.black-theme-class .lighter .menu-item,
.black-theme-class .lighter .menu-item .label {
    -fx-background-color : whitesmoke ;
    -fx-text-fill : -fx-royal-blue-color ;
}

.black-theme-class .lighter .menu-item:hover,
.black-theme-class .lighter .menu-item:hover .label {
    -fx-background-color : -fx-royal-blue-color ;
    -fx-text-fill : white;
}

.lighter .table-view .table-cell-hbox .label,
.lighter .table-view .table-cell-label {
    -fx-font-weight : normal;
    -fx-font-size: 13;
}

.lighter .table-view .label {
    -fx-text-fill : white;
    -fx-font-weight : normal;
}

.lighter .chart-line-symbol,
.lighter .chart-series-line {
    -fx-stroke: #f9d900;
    -fx-background-color: #f9d900, white;
}

/* end of black them */

.splashProgressText {
    -fx-font-size: 20
}

.splashLayout {
    -fx-padding: 5;
    -fx-background-color: #dcdcdc;
    -fx-border-width:5;
    -fx-border-color:
        linear-gradient(
        to bottom,
        #2c8aaa,
        derive(#2c8aaa, 50%)
        );
}

.no-highlight-on-nodes {
    -fx-border-color : -fx-dark-blue-color transparent -fx-dark-blue-color transparent;
    -fx-box-border : -fx-border-color;
    -fx-shadow-highlight-color : transparent;
    -fx-focus-color: white;
    -fx-control-inner-background : white;
    -fx-background-color : white;
}

.checked-top-toggle-button {
    -fx-background-color : transparent;
    -fx-text-fill : -fx-dark-blue-color;
    -fx-content-display: top;
}

.checked-top-toggle-button:hover {
    -fx-border-color : -fx-royal-blue-color;
}

.checked-top-toggle-button:selected {
    -fx-text-fill : white;
    -fx-background-color : -fx-royal-blue-color;
    -fx-font-weight : bold;
}

.profilerChartInfoTooltip {
    -fx-wrap-text: true;
    -fx-background-radius: 4;
    -fx-background-color: #005f81;
    -fx-text-fill: white;
    -fx-graphic: none;
    -fx-graphic-text-gap: 6;    
    -fx-font-size: 12;
}

.profilerChartDataTooltip {
    
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 5;
    
    -fx-wrap-text: true;
    -fx-background-radius: 8;
    -fx-background-color: #141414;
    -fx-text-fill: white;
    -fx-graphic: none;
    -fx-graphic-text-gap: 6;    
    -fx-font-size: 12;
}

.profilerChartDataTooltipTitleLabel {    
    -fx-wrap-text: true;
    -fx-text-fill: white;   
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-padding: 0 0 5 0
}

.profilerChartDataTooltipLabel {        
    -fx-wrap-text: true;
    -fx-text-fill: white;  
    -fx-font-size: 12;
}

.profilerChartDataTooltipBoldLabel {        
    -fx-wrap-text: true;
    -fx-text-fill: white;  
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.profilerChartToggledLegend {
    -fx-underline: true;
}

.simple-progress-bar .track {
    -fx-background-color : white;
}

.simple-progress-bar .bar {
    -fx-background-color : -fx-royal-blue-color;
    -fx-background-radius : 15 5 15 5;
}

.simple-progress-bar , .progress-done .bar {
    -fx-background-color : green;
}

.red-bar    { 
    -fx-accent: red;    
}

#debugerButton_default {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(white 0%, white 50%, white 51%, white 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: blue;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
#debugerButton_default:hover {
    -fx-background-color: 
        linear-gradient(grey 0%, grey 25%, grey 75%, grey 100%),
        linear-gradient(grey, grey),
        linear-gradient(grey 0%, grey 20%, grey 80%, grey 100%),
        linear-gradient(white 0%, white 50%, white 51%, white 100%);
}

#debugerButton_green {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(green 0%, green 50%, green 51%, green 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
#debugerButton_green:hover {
    -fx-background-color: 
        linear-gradient(grey 0%, grey 25%, grey 75%, grey 100%),
        linear-gradient(grey, grey),
        linear-gradient(grey 0%, grey 20%, grey 80%, grey 100%),
        linear-gradient(green 0%, green 50%, green 51%, green 100%);
}

#debugerButton_light_green {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#90ee90 0%, #90ee90 50%, #90ee90 51%, #90ee90 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
#debugerButton_light_green:hover {
    -fx-background-color: 
        linear-gradient(grey 0%, grey 25%, grey 75%, grey 100%),
        linear-gradient(grey, grey),
        linear-gradient(grey 0%, grey 20%, grey 80%, grey 100%),
        linear-gradient(#90ee90 0%, #90ee90 50%, #90ee90 51%, #90ee90 100%);
}

#debugerButton_light_red {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#c44444 0%, #c44444 50%, #c44444 51%, #c44444 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
#debugerButton_light_red:hover {
    -fx-background-color: 
        linear-gradient(grey 0%, grey 25%, grey 75%, grey 100%),
        linear-gradient(grey, grey),
        linear-gradient(grey 0%, grey 20%, grey 80%, grey 100%),
        linear-gradient(#c44444 0%, #c44444 50%, #c44444 51%, #c44444 100%);
}

#debugerButton_red {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(red 0%, red 50%, red 51%, red 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
#debugerButton_red:hover {
    -fx-background-color: 
        linear-gradient(grey 0%, grey 25%, grey 75%, grey 100%),
        linear-gradient(grey, grey),
        linear-gradient(grey 0%, grey 20%, grey 80%, grey 100%),
        linear-gradient(red 0%, red 50%, red 51%, red 100%);
}

#debugerButton_red #debugerButton_default_text,
#debugerButton_light_red #debugerButton_default_text,
#debugerButton_green #debugerButton_default_text,
#debugerButton_light_green #debugerButton_default_text {
    -fx-fill: white;
    -fx-font-size: 12px;
}

#debugerButton_default_text {
    -fx-fill: black;
    -fx-font-size: 12px;
}

.bordered-titled-title {
    -fx-translate-x:  8;
    -fx-translate-y: -10;
    -fx-padding: 0 0 0 4;
    -fx-background-color: -fx-background;
}

.bordered-titled-border {
    -fx-content-display: top;
    -fx-border-insets: 2 0 0 0;
    -fx-border-color: -fx-text-box-border;
    -fx-border-width: 1;
    -fx-border-radius:5px;
}

.bordered-titled-content {
    -fx-padding: 18 5 5 5;
}
